<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
          <div id="error_explanation">
            <% if @user.errors.any? %>
              <h3><%= @user.errors.count %> errors prohibited this obj from being saved: </h3>
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              <% end %>
          </div>
        <%= form_with model:@user, local: true  do |f| %>
          <h3>Name</h3>
          <%= f.text_field :name %>
          <h3>Image</h3>
          <%= f.attachment_field :profile_image %>
          <h3>Introduction</h3>
          <%= f.text_area :introduction %>
          <%= f.submit "Update User" %>
        <% end %>
      </div>
    </div>
  </div>
</main>







